.card{
    width: 380px;
    padding: 28px;
    background: #CBCBCB;
    border-radius: 28px;
    border-width: 2px 2px 2px 8px;
    border-style: solid;
    background-color: #72727272;
    box-shadow: 16px 16px 16px 0px #000000;
}
.card h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%; 
}
.card h3{
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        margin: 10px 0;
}
.card button{
     width: 100%;
     padding: 27px;
     border-radius: 28px;
 
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        border-style: solid;
        border-color: #72727272;
        margin-top: 15px;
}
.card img{
    width: 100%;
}